<!DOCTYPE html>
<html>
    <head>
        <title>Benvenuto in Symfony!</title>
    </head>

    <body>
        <h1>Reservation Form</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </body>
</html>
